


body {
  color: black; 
  background-color: #b0d4d5; 
  background-color: #d3e8ec;
  color: black;
  text-align: left;
  font-family: Afacad;
  margin-left: 0%;
  margin-right: 0%;
}

.heading {
  text-align: center;
  font-size: 300%;
  color: black;
  text-shadow: #ecd3dc 3px 3px;
  font-family: cursive;
}

.bordered {
  border-style: solid;
  border-color: #d3dbec;
  border-width: 3px;
  padding: 5px;
  border-radius: 9px;
  background-color: #d3dbec;
  color: #666666;
  margin-left: 20%;
  margin-right: 20%;
}

hr {
  width: 650px;
}
.tooltip-box {
      position: absolute;
      display: none;
      background-color: #333;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      z-index: 1000;
      max-width: 250px;
      font-size: 14px;
      pointer-events: none; /* So it doesn’t block the mouse */
    }

    .hover-word {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }


