body {
  color: black; 
  background-color: #b0d4d5;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}

.bordered {
  border-style: solid;
  border-color: #d3dbec;
  border-width: 3px;
  padding: 5px;
  border-radius: 50px;
  margin: 5px;
  background-color:#d3dbec;
  color: #222;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #8a8d8d;
}

a:hover, a:visited {
  color: #d1bec5;
}

hr {
  height: 2px;
  border: 0px;
  background-color: #d1bec5;
}

#footer {
  font-size: 120%;
  text-align: center;
}
